@media  (max-width: 400px) {
    body{
        width: 400px;

    }
    
    #header-list{
        display: block;
    }

    main{
        width: 660px;
    }

    #accueil>img{
        width: 50%;
    }

    #contact_coord{
        width: 100%;
    }

    #accueil_present {
        width: 100%;

    }

    .rotate{
        display: none;
    }
}