@media  (max-width: 400px) {
    body{
        width: 400px;

    }
    
    #header-list{
        display: block;
    }

    main{
        width: 380px;
    }

    .content-child:hover{
        transform: scale(1);
    }

    #accueil>img{
        width: 50%;
    }

    #contact_coord{
        width: 100%;
    }

    #accueil_present {
        width: 100%;

    }

    footer img {
        width: 32px;
        margin: 0 auto;
    }

    #LogoVivo{
        height: 150px;
        width: 150px;
    }

    #accueil_offre {
        width: 70%;
    }

    #Form_question{
        width: 100%;
    }

    #newslettre{
        width: 90%;
        flex-wrap: wrap;
    }

    #newslettre>section{
        width: 100%;
    }
}