@media  (max-width: 400px) {
    body{
        width: 400px;

    }
    
    #header-list{
        display: block;
    }

    main{
        width: 380px;
    }

    #accueil>img{
        width: 50%;
    }

    #contact_coord{
        width: 100%;
    }

    #accueil_present {
        width: 100%;

    }

    .rotate{
        display: none;
    }

    footer img {
        width: 32px;
        margin: 0 auto;
    }

    #LogoVivo{
        height: 150px;
        width: 150px;
    }
}