body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    font-size: 1em;
    background-image: url(../Images/brown-wooden-textured-flooring-background.jpg);
    background-size: contain;
}

h3{
    width: 100%;
    text-align: center;
}

.close_button{
    width: 1.7em;
    height: 1.7em;
    padding: 0.1em;
    background-color: red;
    font-weight: bold;
    position: absolute;
    top: 1%;
}

#LogoVivo{
    width: 15vw;
    height: 30vh;
    position: absolute;
    z-index: -1;
    animation: RotateZ 5s infinite linear;
}

#newslettre{
    font-size: 1em;
    display: none;
    position: fixed;
    color: white;
    padding: 0.3em;
    opacity: 0;
    transition: opacity 0.6s ease;
    align-items: center;
    width: 60vw;
}

#newslettre table{
    background-color: grey;
}

#newslettre td{
    padding: 2em;
}

#newslettre>section{
    display: flex;
    background-color: rgba(0, 0, 0, 0.822);
    flex-wrap: wrap;
    width: 50%;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    padding: 0.2em;
}

#newslettre>section>ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

#newslettre>section>ul>li{
    padding: 0.9em;
}

#newslettre>section>img{
    width: 30%;
}

#newslettre.open{
opacity: 1;
}

.rotate {
    cursor: pointer;
    background-color: black;
    margin: 0;
    padding: 0.2em;
    font-family: verdana, sans-serif;
    transform: rotate(270deg);
    color: aliceblue;
    text-align: center;
    position: absolute;
    left: -2.2em;
    transition: background-color 0.5s ease, color 0.5s ease;
  }

.rotate:hover{
    background-color: rgba(100, 100, 99, 0.675);
    color: white;
}


#status{
    color: white;
    position: absolute;
    left: 2.5em;
    top: 3em;
    transform: translateX(-50vw);
    transition: transform 0.5s ease;
    z-index: 100;
}

#status.open{
    transform: translateX(0);
}

#hidde_horaire{
    width: 1.8em;
    height: 1.8em;
    padding: 0.2em;
    background-color: rgba(100, 100, 99, 0.675);
    cursor: pointer;
    position: absolute;
    left: 0.2em;
    top: 2.8em;
    z-index: 6;
    transition: transform 0.5s ease;
}

#hidde_horaire:hover{
    transform: scale(1.1);
}