@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    font-size: 1em;
    background-image: url(../Images/brown-wooden-textured-flooring-background.jpg);
    background-size: contain;
    font-family: cursive;
}


h3{
    width: 100%;
    text-align: center;
}


#LogoVivo{
    width: 15vw;
    height: 30vh;
    position: absolute;
    z-index: -1;
    animation: RotateZ 5s infinite linear;
}


#title{
    position: absolute;
    top: 45%;
    margin: 0;
    font-family: 'Love Light', cursive;
    font-size: 4em;
    text-shadow: 3px 3px 2px rgb(40, 40, 40);
    animation: opacity-slide-up 0.5s 1 ease-in;
}