<h1 id="title">Au P'tit Vivo</h1>
<section id="accueil" class="contenue">
  <div id="event" class="content-child">
    <h3>Événements</h3>
    <p>
      L'événement du P'tit Vivo se déroule le 15 avril 2022 à l'établissement
      de Dottignies.
    </p>
    <p>
      Inscrivez-vous pour être au courant des détails et des tarifs avant la
      date limite.
    </p>
    <a href="#" class="button">Inscrivez-vous</a>
  </div>
  <!-- Cette section contiendras les historique de l'entreprise, les message éventuels et images du personnel/magason etc -->
  <img src="assets/images/photosimon.png" alt="Photo du chef" />
  <div id="accueil_present" class="content-child">
    <h3>Présentation du chef !</h3>
    <p>
      Après de nombreuses années au service du Vivo.le jeune Simon a
      decidé de continuer le services traiteur au sein de l'entité de
      Dottignies.
    </p>
    <p>
      Il met toute son expérience et son professionnalisme au service des
      clients par la préparation des repas à emporter,en gardant le
      savoir-faire et la qualité des produits Vivo.
    </p>
    <p>
      C'est en hommage à ses anciens employeurs que Simon a appelé son
      service traiteur le P'tit Vivo.
    </p>
  </div>
  <div id="accueil_offre" class="content-child">
    <h3>Nos offres</h3>
    <ul>
      <li>Menu spécial du jour</li>
      <li>Menu à la carte</li>
      <li>Repas à emporter</li>
      <li>Boissons</li>
      <li>Salades</li>
    </ul>
  </div>
</section>