<section id="contact" class="contenue">
    <div id="contact_coord" class="content-child">
      <h3>Nos coordonnées</h3>
      <ul>
        <li><img src="Images/appel.png" alt="téléphone"></li>
        <li>056/58.84.82</li>
        <li><img src="Images/espace-reserve.png" alt="addresse"></li>
        <li>
          <a href="https://maps.app.goo.gl/oRAindBqFdBJojiH9"
          >Rue de Saint-Léger 8, 7711 Mouscron</a
          >
        </li>
        <li><img src="Images/enveloppe.png" alt="Email"></li>
        <li>noemiiea@icloud.com</li>
      </ul>
    </div>
    <form id="Form_question" method="post" class="content-child">
      <h3>Vous avez une question/remarque ?</h3>
      <table>
        <tr>
          <td>Nom </td>
          <td><input type="text" id="question-nom" /></td>
        </tr>
        <tr>
          <td>Prénom </td>
          <td><input type="text" id="question-prenom" /></td>
        </tr>
        <tr>
          <td>Votre question </td>
          <td>
            <textarea id="question">Votre question ici</textarea>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" value="Envoyer" id="question-submit" />
          </td>
        </tr>
      </table>
    </form>
  </section>