<div id="annexe"></div>
<h1 id="title">Au P'tit Vivo</h1>
<section id="accueil" class="contenue">
  <div id="event" class="content-child">
    <h3>Événements</h3>
    <p>
      L'événement du P'tit Vivo se déroule le 15 avril 2022 à l'établissement
      de Dottignies.
    </p>
    <p>
      Inscrivez-vous pour être au courant des détails et des tarifs avant la
      date limite.
    </p>
    <a href="#" class="button">Inscrivez-vous</a>
  </div>
  <!-- Cette section contiendras les historique de l'entreprise, les message éventuels et images du personnel/magason etc -->
  <img src="Images/photosimon.png" alt="Photo du chef" />
  <div id="accueil_present" class="content-child">
    <h3>Présentation du chef !</h3>
    <p>
      Après de nombreuses années au service du Vivo.le jeune Simon a
      decidé de continuer le services traiteur au sein de l'entité de
      Dottignies.
    </p>
    <p>
      Il met toute son expérience et son professionnalisme au service des
      clients par la préparation des repas à emporter,en gardant le
      savoir-faire et la qualité des produits Vivo.
    </p>
    <p>
      C'est en hommage à ses anciens employeurs que Simon a appelé son
      service traiteur le P'tit Vivo.
    </p>
  </div>
  <div id="accueil_offre" class="content-child">
    <h3>Nos offres</h3>
    <ul>
      <li>Menu spécial du jour</li>
      <li>Menu à la carte</li>
      <li>Repas à emporter</li>
      <li>Boissons</li>
      <li>Salades</li>
    </ul>
  </div>
</section>
<section id="produit" class="contenue">
  <h2>produit</h2>
</section>
<section id="contact" class="contenue">
  <div id="contact_coord" class="content-child">
    <h3>Nos coordonnées</h3>
    <ul>
      <li><img src="Images/appel.png" alt="téléphone"></li>
      <li>056/58.84.82</li>
      <li><img src="Images/espace-reserve.png" alt="addresse"></li>
      <li>
        <a href="https://maps.app.goo.gl/oRAindBqFdBJojiH9"
        >Rue de Saint-Léger 8, 7711 Mouscron</a
        >
      </li>
      <li><img src="Images/enveloppe.png" alt="Email"></li>
      <li>noemiiea@icloud.com</li>
    </ul>
  </div>
  <form id="Form_question" method="post" class="content-child">
    <h3>Vous avez une question/remarque ?</h3>
    <table>
      <tr>
        <td>Nom </td>
        <td><input type="text" id="question-nom" /></td>
      </tr>
      <tr>
        <td>Prénom </td>
        <td><input type="text" id="question-prenom" /></td>
      </tr>
      <tr>
        <td>Votre question </td>
        <td>
          <textarea id="question">Votre question ici</textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Envoyer" id="question-submit" />
        </td>
      </tr>
    </table>
  </form>
</section>
<section id="panier" class="contenue">
  <h2>panier</h2>
</section>
<section id="connexion" class="contenue">
  <form class="content-child" id="connect_form" method="post">
    <p>
      Votre adresse mail:</label
      ><input type="text" required id="mail" />
    </p>
    <p>
      Votre mot de passe:</label
      ><input type="password" required id="mdp" />
    </p>
    <input type="submit" value="Se connecter" />
    <input type="reset" value="Annuler" />
  </form>
  <form method="post" id="Sign_In-form" class="content-child">
    <h2>Création d'un compte utilisateur</h2>
    <table>
        <tr>
            <td>Nom :</td>  <td><input type="text" id="nom-signin" placeholder="Votre nom"></td>
        </tr>
        <tr>
            <td>Prénom :</td>  <td><input type="text" id="prenom-signin" placeholder="Votre prénom"></td>
        </tr>
        <tr>
            <td>Votre mot de passe :</td> <td><input type="password" id="mdp-signin" placeholder="6 caractères minimum"></td>
        </tr>
        <tr>
            <td>Confirmer votre mot de passe :</td> <td><input type="password" id="mdp_confirm-signin" placeholder="6 caractères minimum"></td>
        </tr>
        <tr>
            <td>N° de téléphone :</td> <td><input type="text" id="telephone-signin" placeholder="ex:0411223344"></td>
        </tr>
        <tr>
            <td>Votre addresse mail</td>  <td><input type="text" id="mail-signin" placeholder="ex:MonMail@gmail.com"></td>
        </tr>
        <tr>
            <td>Inscription à la Newsletter</td> <td><input type="checkbox" id="news_letter-signin"></td>
        </tr>
        <tr>
            <td><input type="submit" value="S'inscrire" ></td> <td><input type="reset" ></td>
        </tr>
    </table>
    <section id="about">
        <h3>A propos de la Newsletter :</h3>
        <ul>
            <li>Vous tiendras au courant des menus du jours par mail.</li>
            <li>Vous feras savoir si nous organisons des évènements particuliers</li>
            <li>Vous aurez l'occasion de supprimer cette inscription à tout moment via votre profil.</li>
        </ul>
    </section>
</form>
</section>