<div id="annexe"></div>
<h1 id="title">Au P'tit Vivo</h1>
<section id="accueil" class="contenue">
  <h2>accueil</h2>
  <!-- Cette section contiendras les historique de l'entreprise, les message éventuels et images du personnel/magason etc -->
  <img src="Images/photosimon.png" alt="Photo du chef" />
  <div id="accueil_present">
    <h3>Présentation du chef !</h3>
    <p>
      Après de nombreuses années au service du Vivo.le jeune Simon a
      decidé de continuer le services traiteur au sein de l'entité de
      Dottignies.
    </p>
    <p>
      Il met toute son expérience et son professionnalisme au service des
      clients par la préparation des repas à emporter,en gardant le
      savoir-faire et la qualité des produits Vivo.
    </p>
    <p>
      C'est en hommage à ses anciens employeurs que Simon a appelé son
      service traiteur le P'tit Vivo.
    </p>
  </div>
  <div id="accueil_offre">
    <h3>Nos offres</h3>
    <ul>
      <li>Menu spécial du jour</li>
      <li>Menu à la carte</li>
      <li>Repas à emporter</li>
      <li>Boissons</li>
      <li>Salades</li>
    </ul>
  </div>
  <!-- un tableau d'horaires -->
  <table id="accueil_horaire">
    <thead>
      <th>Jours</th>
      <th>Horaires</th>
    </thead>
    <tbody>
      <tr>
        <td>Lundi</td>
        <td>10H00-14H00 & 16H00-19H00</td>
      </tr>
      <tr>
        <td>Mardi</td>
        <td>10H00-14H00 & 16H00-19H00</td>
      </tr>
      <tr>
        <td>Mercredi</td>
        <td>10H00-14H00 & 16H00-19H00</td>
      </tr>
      <tr>
        <td>Jeudi</td>
        <td>10H00-14H00 & 16H00-19H00</td>
      </tr>
      <tr>
        <td>Vendredi</td>
        <td>10H00-14H00 & 16H00-19H00</td>
      </tr>
      <tr>
        <td>Samedi</td>
        <td>Fermé</td>
      </tr>
      <tr>
        <td>Dimanche</td>
        <td>Fermé</td>
      </tr>
    </tbody>
  </table>
</section>
<section id="produit" class="contenue">
  <h2>produit</h2>
</section>
<section id="contact" class="contenue">
  <h2>contact</h2>
  <div id="contact_coord">
    <h3>Nos coordonnées</h3>
    <ul>
      <li>056/58.84.82</li>
      <li>
        <a href="https://maps.app.goo.gl/oRAindBqFdBJojiH9"
          >Rue de Saint-Léger 8, 7711 Mouscron</a
        >
      </li>
      <li>noemiiea@icloud.com</li>
    </ul>
  </div>
  <form method="post" action="#">
    <h3>Vous avez une question/remarque ?</h3>
    <table>
      <tr>
        <td><label for="main-nom">Nom </label></td>
        <td><input type="text" id="main-nom" /></td>
      </tr>
      <tr>
        <td><label for="main-prenom">Prénom </label></td>
        <td><input type="text" id="main-prenom" /></td>
      </tr>
      <tr>
        <td><label for="main-question">Votre question </label></td>
        <td>
          <textarea id="main-question">Votre question ici</textarea>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <input type="submit" value="Envoyer" id="question-submit" />
        </td>
      </tr>
    </table>
  </form>
</section>
<section id="panier" class="contenue">
  <h2>panier</h2>
</section>
<section id="connexion" class="contenue">
  <h2>connexion</h2>
  <form action="">
    <p>
      <label for="mail">Votre adresse mail:</label
      ><input type="text" required id="mail" />
    </p>
    <p>
      <label for="mdp">Votre mot de passe:</label
      ><input type="password" required id="mdp" />
    </p>
    <input type="submit" value="Se connecter" />
    <input type="reset" value="Annuler" />
    <p>
      Vous n'avez pas de compte ? Créez en un
      <a href="sign_in.html">ici</a> !
    </p>
  </form>
</section>