<button class="close_button" id="close_newsletter">X</button>
<form method="post">
  <table>
    <th colspan="2">Inscription à la Newsletter :</th>
    <tr>
      <td>Nom</td>
      <td>
        <input type="text" class="footer-form-input" id="nom_news" name="nom" />
      </td>
    </tr>
    <tr>
      <td>Prénom</td>
      <td>
        <input type="text" class="footer-form-input" id="prenom_news" name="prenom" />
      </td>
    </tr>
    <tr>
      <td>Mail</td>
      <td>
        <input type="text" class="footer-form-input" id="mail_news" name="mail" />
      </td>
    </tr>
    <tr>
      <td>
        <input type="submit" value="Valider" class="news_letter_button" />
      </td>
      <td>
        <input type="reset" value="Annuler" class="news_letter_button" />
      </td>
    </tr>
  </table>
</form>
<section>
  <h3>A propos de la Newsletter :</h3>
  <ul>
    <li>Vous tiendra au courant des menus du jour par mail.</li>
    <li>Vous fera savoir si nous organisons des évènements particuliers.</li>
    <li>
      Vous aurez l'occasion de supprimer cette inscription à tout moment via
      votre profil.
    </li>
  </ul>
  <img src="assets/images/fondecran.png" alt="Logo Au P'tit Vivo" />
</section>