main {
    padding: 0.1em;
    width: 95vw;
    height: 85vh;
    margin: 1em auto;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-between;
    /* background-color: rgba(100, 100, 99, 0.675); */
    transition: height 0.5s ease-in;
    overflow-y: auto;
    overflow-x: hidden;
}

main.main-shifted {
    height: 100vh;
}

.contenue {
    display: none;
    margin: 0;
    flex-wrap: wrap;
    width: 100%;
    min-height: 100%;
    max-height: 100%;
    opacity: 0;
    transition: opacity 1s ease;
    overflow-y: auto;
}

.contenue.active {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    opacity: 1;
}

.contenue>h2 {
    width: 90%;
    text-align: center;
    font-size: 2em;
}

.content-child {
    margin: 0;
    padding: 0.5em;
    border: 0.1em solid black;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 1);
    background-color: rgba(100, 100, 99, 0.675);
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.content-child:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

#accueil>img {
    width: 15%;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    border: 0.1em solid black;
    border-radius: 100%;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 1);
    transition: transform 0.5s ease-in-out;
}

#accueil>img:hover {
    transform: scale(1.1);
}


#accueil_present {
    width: 60%;
    text-align: center;
}


#contact_coord {
    text-align: center;
}

#contact_coord>ul {
    list-style: none;
    padding: 0.2em;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.697);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
    border: 0.2em outset goldenrod;
}

#contact_coord>ul>li {
    padding: 0.1em;
}

#contact_coord a {
    color: gold;
    text-decoration: none;
    transition: color 0.5s ease-in-out;
}

#contact_coord a:hover {
    color: blue;
}

#contact_coord>ul>li>img {
    width: 2em;
    height: auto;
}

#Form_question {
    width: 30%;
}

#Form_question>table {
    width: 100%;
    text-align: center;
    padding: 0.2em;
    margin: 0;
    color: gold;
    background-color: rgba(128, 128, 128, 0.697);
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 1);
    border: 0.2em outset goldenrod;
}

#Form_question>table td {
    padding: 0.5em 0;
}


#accueil_offre {
    width: 20%;
    text-align: center;
}


#accueil_offre>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

#contact_form_question {
    width: 30%;
}


.product {
    width: 100%;
    text-align: center;
    background-color: grey;
    border-collapse: collapse;
    border: 0.2em solid goldenrod;
}

.product th {
    border-bottom: solid black 0.1em;
    background-color: black;
    color: whitesmoke;
    border-bottom: 0.1em white solid;
}

.product td:nth-child(2):hover {
    transform: scale(1.1);
}

.product td:nth-child(2) {
    transition: transform 0.2s ease-in-out;
}


.product td:nth-child(1) {
    background-color: rgb(132, 54, 23);
    color: gold;
    border-right: black solid 0.1em;
}

.product td {
    padding: 0.3em 0;
}

.product td:nth-child(3) {
    color: green;
    font-weight: bold;
}


.order-details {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0.5em;
    border: 0.1em solid black;
    box-shadow: 5px 5px 2px 0px rgba(0, 0, 0, 1);
    background-color: rgba(100, 100, 99, 0.675);
    transition: background-color 0.5s ease, transform 0.3s ease;
}

.order-details:hover {
    background-color: rgba(255, 255, 255, 0.7);
    transform: scale(1.1);
}

.order {
    width: 40%;
    background-color: rgba(240, 248, 255, 0.51);
    border: inset 0.2em goldenrod;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0.2em;
    transition: transform 0.2s ease-in-out;
}

.order:hover {
    transform: scale(1.1);
}

.order p {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0.2em 0;
    margin: 0.5em 0;
}

.order p>span {
    color: green;
    font-weight: bold;
}

.quantity {
    font-size: 1.3em;
    font-style: italic;
    width: 1.5em;
    height: 1.5em;
    background: #FFFFFF;
    color: #000000;
    border: 0.1em inset #f8e922;
    text-align: center;
}