@import url('root.css');
@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');
@import url('media.css');
@import url('main.css');
@import url('keyframes.css');
@import url('horaire.css');
@import url('header.css');
@import url('footer.css');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    font-size: 1em;
    background-image: url(../Images/brown-wooden-textured-flooring-background.jpg);
    background-size: contain;
    font-family: cursive;
}



h3 {
    width: 100%;
    text-align: center;
}


#hidde_profile {
    width: 1.8em;
    height: 1.8em;
    padding: 0.2em;
    background-color: rgba(255, 255, 255, 0.54);
    border: 0.1em outset gold;
    cursor: pointer;
    position: absolute;
    left: 0.1em;
    top: 5.3em;
    z-index: 6;
    transition: transform 0.5s ease;
    display: none;

}

#hidde_profile:hover {
    transform: scale(1.1);
}

#LogoVivo {
    width: 15vw;
    height: 30vh;
    position: absolute;
    z-index: -1;
    animation: RotateZ 5s infinite linear;
}


#title {
    position: absolute;
    top: 45%;
    margin: 0;
    color: goldenrod;
    font-family: 'Love Light', cursive;
    font-size: 4em;
    text-shadow: 6px 6px 4px rgb(110, 109, 109);
    animation: opacity-slide-up 0.5s 1 ease-in;
}

button,
input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    border-radius: 0.3em;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;

}

.btn-del,
input[type="reset"] {
    background-color: #f44336;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;

}

.btn-edit {
    background-color: #3399ff;
    color: white;
    padding: 1em;
    border: none;
    cursor: pointer;
    border-radius: 0.3em;
}

.btn:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
.btn-edit:hover,
.btn-del:hover {
    color: #EDB313 !important;
    background: #6B686A;
    background: linear-gradient(to top, #6B686A, #000000);
}


input[type="text"],
input[type="password"],
input[type="mail"],
textarea {
    font-size: 1.3em;
    font-style: italic;
    width: 90%;
    outline: none;
    background: #FFFFFF;
    color: #000000;
    border: 0.1em inset #f8e922;
    box-shadow: 3px 3px 2px 0px #000000;
    transition: 0.3s ease;
    padding-left: 18px;
}