@import url('https://fonts.googleapis.com/css2?family=Love+Light&display=swap');

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
    font-size: 1em;
    background-image: url(../Images/brown-wooden-textured-flooring-background.jpg);
    background-size: contain;
    font-family: cursive;
}



h3 {
    width: 100%;
    text-align: center;
}


#hidde_profile {
    width: 1.8em;
    height: 1.8em;
    padding: 0.2em;
    background-color: rgba(255, 255, 255, 0.54);
    border: 0.1em outset gold;
    cursor: pointer;
    position: absolute;
    left: 0.1em;
    top: 5.3em;
    z-index: 6;
    transition: transform 0.5s ease;
    display: none;

}

#hidde_profile:hover {
    transform: scale(1.1);
}

#LogoVivo {
    width: 15vw;
    height: 30vh;
    position: absolute;
    z-index: -1;
    animation: RotateZ 5s infinite linear;
}


#title {
    position: absolute;
    top: 45%;
    margin: 0;
    font-family: 'Love Light', cursive;
    font-size: 4em;
    text-shadow: 3px 3px 2px rgb(40, 40, 40);
    animation: opacity-slide-up 0.5s 1 ease-in;
}

button {
    font-family: arial;
    font-weight: bold;
    color: #FCF135 !important;
    text-shadow: 2px 2px 1px #06080A;
    box-shadow: 2px 2px 4px #0C0E0F;
    padding: 0.5em 0.9em;
    border-radius: 10px;
    border: 2px inset #FFF333;
    background: #000000;
    background: linear-gradient(to top, #000000, #6B686A);
}

button:hover {
    color: #EDB313 !important;
    background: #6B686A;
    background: linear-gradient(to top, #6B686A, #000000);
}

input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

input[type="reset"] {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}


input[type="text"],
input[type="password"],
input[type="mail"],
textarea {
    font-size: 1.3em;
    font-style: italic;
    width: 90%;
    outline: none;
    background: #FFFFFF;
    color: #000000;
    border: 0.1em inset #f8e922;
    box-shadow: 3px 3px 2px 0px #000000;
    transition: 0.3s ease;
    padding-left: 18px;
}